---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1404420694'
      Etag:
      - '"3207f9bcf27d2eb734c5a01e0f92275d"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":21326109,"name":"rushbasemvp","full_name":"fahadm507/rushbasemvp","owner":{"login":"fahadm507","id":5964477,"avatar_url":"https://avatars.githubusercontent.com/u/5964477?","gravatar_id":"3632815c3cfd6edb6ee8e10573d09cd0","url":"https://api.github.com/users/fahadm507","html_url":"https://github.com/fahadm507","followers_url":"https://api.github.com/users/fahadm507/followers","following_url":"https://api.github.com/users/fahadm507/following{/other_user}","gists_url":"https://api.github.com/users/fahadm507/gists{/gist_id}","starred_url":"https://api.github.com/users/fahadm507/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/fahadm507/subscriptions","organizations_url":"https://api.github.com/users/fahadm507/orgs","repos_url":"https://api.github.com/users/fahadm507/repos","events_url":"https://api.github.com/users/fahadm507/events{/privacy}","received_events_url":"https://api.github.com/users/fahadm507/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/fahadm507/rushbasemvp","description":"Minimum
        Variable Features for Rushbase.com","fork":false,"url":"https://api.github.com/repos/fahadm507/rushbasemvp","forks_url":"https://api.github.com/repos/fahadm507/rushbasemvp/forks","keys_url":"https://api.github.com/repos/fahadm507/rushbasemvp/keys{/key_id}","collaborators_url":"https://api.github.com/repos/fahadm507/rushbasemvp/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/fahadm507/rushbasemvp/teams","hooks_url":"https://api.github.com/repos/fahadm507/rushbasemvp/hooks","issue_events_url":"https://api.github.com/repos/fahadm507/rushbasemvp/issues/events{/number}","events_url":"https://api.github.com/repos/fahadm507/rushbasemvp/events","assignees_url":"https://api.github.com/repos/fahadm507/rushbasemvp/assignees{/user}","branches_url":"https://api.github.com/repos/fahadm507/rushbasemvp/branches{/branch}","tags_url":"https://api.github.com/repos/fahadm507/rushbasemvp/tags","blobs_url":"https://api.github.com/repos/fahadm507/rushbasemvp/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/fahadm507/rushbasemvp/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/fahadm507/rushbasemvp/git/refs{/sha}","trees_url":"https://api.github.com/repos/fahadm507/rushbasemvp/git/trees{/sha}","statuses_url":"https://api.github.com/repos/fahadm507/rushbasemvp/statuses/{sha}","languages_url":"https://api.github.com/repos/fahadm507/rushbasemvp/languages","stargazers_url":"https://api.github.com/repos/fahadm507/rushbasemvp/stargazers","contributors_url":"https://api.github.com/repos/fahadm507/rushbasemvp/contributors","subscribers_url":"https://api.github.com/repos/fahadm507/rushbasemvp/subscribers","subscription_url":"https://api.github.com/repos/fahadm507/rushbasemvp/subscription","commits_url":"https://api.github.com/repos/fahadm507/rushbasemvp/commits{/sha}","git_commits_url":"https://api.github.com/repos/fahadm507/rushbasemvp/git/commits{/sha}","comments_url":"https://api.github.com/repos/fahadm507/rushbasemvp/comments{/number}","issue_comment_url":"https://api.github.com/repos/fahadm507/rushbasemvp/issues/comments/{number}","contents_url":"https://api.github.com/repos/fahadm507/rushbasemvp/contents/{+path}","compare_url":"https://api.github.com/repos/fahadm507/rushbasemvp/compare/{base}...{head}","merges_url":"https://api.github.com/repos/fahadm507/rushbasemvp/merges","archive_url":"https://api.github.com/repos/fahadm507/rushbasemvp/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/fahadm507/rushbasemvp/downloads","issues_url":"https://api.github.com/repos/fahadm507/rushbasemvp/issues{/number}","pulls_url":"https://api.github.com/repos/fahadm507/rushbasemvp/pulls{/number}","milestones_url":"https://api.github.com/repos/fahadm507/rushbasemvp/milestones{/number}","notifications_url":"https://api.github.com/repos/fahadm507/rushbasemvp/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/fahadm507/rushbasemvp/labels{/name}","releases_url":"https://api.github.com/repos/fahadm507/rushbasemvp/releases{/id}","created_at":"2014-06-29T15:29:03Z","updated_at":"2014-06-29T16:13:00Z","pushed_at":"2014-07-01T02:33:02Z","git_url":"git://github.com/fahadm507/rushbasemvp.git","ssh_url":"git@github.com:fahadm507/rushbasemvp.git","clone_url":"https://github.com/fahadm507/rushbasemvp.git","svn_url":"https://github.com/fahadm507/rushbasemvp","homepage":null,"size":0,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":20310759,"name":"slackernews3","full_name":"fahadm507/slackernews3","owner":{"login":"fahadm507","id":5964477,"avatar_url":"https://avatars.githubusercontent.com/u/5964477?","gravatar_id":"3632815c3cfd6edb6ee8e10573d09cd0","url":"https://api.github.com/users/fahadm507","html_url":"https://github.com/fahadm507","followers_url":"https://api.github.com/users/fahadm507/followers","following_url":"https://api.github.com/users/fahadm507/following{/other_user}","gists_url":"https://api.git[...]
- request:
    method: get
    uri: https://api.github.com/repos/fahadm507/rushbasemvp/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Sun, 29 Jun 2014 16:13:00 GMT
      Etag:
      - '"690cc2dcf841b6dbe78086036d28f42c"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":38898,"JavaScript":983,"CoffeeScript":104,"CSS":4196}'
  recorded_at: Thu, 03 Jul 2014 20:10:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/fahadm507/slackernews3/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Fri, 30 May 2014 20:12:34 GMT
      Etag:
      - '"8fe397888276879ae59db1e013b77308"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":2999,"CSS":677,"SQL":343,"JavaScript":0}'
  recorded_at: Thu, 03 Jul 2014 20:10:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/aboutme/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Wed, 21 May 2014 04:19:17 GMT
      Etag:
      - '"0d06cb1804e617f2c48e64a235219316"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"CSS":105594,"JavaScript":12354}'
  recorded_at: Thu, 03 Jul 2014 20:10:05 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/boldandblue/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Fri, 27 Jun 2014 11:58:49 GMT
      Etag:
      - '"a3567cf45e0a889c424b15f759b43517"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"CSS":45471,"JavaScript":27654}'
  recorded_at: Thu, 03 Jul 2014 20:10:06 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/bounding-areas-systems-check/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Sun, 08 Jun 2014 10:44:59 GMT
      Etag:
      - '"2d8dedc630e4811b440c7042024480ba"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":2766}'
  recorded_at: Thu, 03 Jul 2014 20:10:06 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/brooketest/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Thu, 30 Jan 2014 12:59:48 GMT
      Etag:
      - '"af6966f8a41f5459022f7888a50290f0"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"CSS":120582,"JavaScript":13182}'
  recorded_at: Thu, 03 Jul 2014 20:10:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/CarMan/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Sun, 29 Jun 2014 14:28:53 GMT
      Etag:
      - '"ad57887301b3155aa6659b25dbbe2076"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":32873,"JavaScript":664,"CSS":747}'
  recorded_at: Thu, 03 Jul 2014 20:10:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/cltd/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Thu, 06 Mar 2014 22:25:37 GMT
      Etag:
      - '"d8c488959413f0238cd1123525f6298f"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":2619}'
  recorded_at: Thu, 03 Jul 2014 20:10:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/contact-manager-activerecord/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Sun, 08 Jun 2014 16:02:42 GMT
      Etag:
      - '"c142b335bbb60465b845d5d2e7e7d933"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Shell":8,"Ruby":3730,"CSS":0}'
  recorded_at: Thu, 03 Jul 2014 20:10:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/eek/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Thu, 03 Apr 2014 12:06:47 GMT
      Etag:
      - '"b9dea09b7aa7af1708f3741ecfeea3b2"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":53837,"CoffeeScript":153,"JavaScript":781,"CSS":36007}'
  recorded_at: Thu, 03 Jul 2014 20:10:07 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/gametime/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Sat, 24 May 2014 15:44:16 GMT
      Etag:
      - '"abaac15bf23643999025efaec40bd483"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":1342,"CSS":645}'
  recorded_at: Thu, 03 Jul 2014 20:10:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/GitCard/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Thu, 03 Jul 2014 16:05:54 GMT
      Etag:
      - '"319a21b883b449f9993ecbf1b6ec9061"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":17983,"JavaScript":664,"CSS":683}'
  recorded_at: Thu, 03 Jul 2014 20:10:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/good_eats_systems_check/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Sat, 28 Jun 2014 13:08:03 GMT
      Etag:
      - '"0525e6af43d81cfaf71a78b618551ed7"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":27848,"JavaScript":664,"CoffeeScript":211,"CSS":861}'
  recorded_at: Thu, 03 Jul 2014 20:10:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/hellofolks/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Thu, 16 Jan 2014 00:23:12 GMT
      Etag:
      - '"d9bc3ddd78c4484d04264b140a924aaf"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"CSS":1577,"JavaScript":9605}'
  recorded_at: Thu, 03 Jul 2014 20:10:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/HubMe/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Wed, 25 Jun 2014 22:42:51 GMT
      Etag:
      - '"7bbf1d68dc815b37da7c8456270f38da"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":31391,"JavaScript":686,"CSS":705}'
  recorded_at: Thu, 03 Jul 2014 20:10:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/jkus/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Fri, 28 Feb 2014 03:16:53 GMT
      Etag:
      - '"aa855129ca58dc17c0e52969451e8279"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"CSS":86758,"JavaScript":91456,"Ruby":95984}'
  recorded_at: Thu, 03 Jul 2014 20:10:08 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/johnkeith.us/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Tue, 24 Jun 2014 14:58:05 GMT
      Etag:
      - '"7f73abb3aeac99042030ca3ec3d6525f"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"CSS":164170,"JavaScript":176586,"Ruby":104669}'
  recorded_at: Thu, 03 Jul 2014 20:10:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/jskp/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Fri, 11 Apr 2014 15:25:40 GMT
      Etag:
      - '"108f6cc17c2940f860e5e807d4aef14c"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":1731,"CSS":16806,"JavaScript":1701}'
  recorded_at: Thu, 03 Jul 2014 20:10:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/kickball/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Wed, 21 May 2014 14:29:16 GMT
      Etag:
      - '"c6181f552e534c5af6222c860d7e5008"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"CSS":23,"Ruby":1611}'
  recorded_at: Thu, 03 Jul 2014 20:10:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/Launch-Academy-Work/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Wed, 14 May 2014 20:54:03 GMT
      Etag:
      - '"499c5af6d7daf9329274eb8d461466e3"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":32999}'
  recorded_at: Thu, 03 Jul 2014 20:10:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/learn_regex_in_55/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Wed, 12 Mar 2014 18:32:58 GMT
      Etag:
      - '"2bfd5ccc403d2e2290a1bbfd7611d0ed"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":1092}'
  recorded_at: Thu, 03 Jul 2014 20:10:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/meetups-in-space/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Wed, 11 Jun 2014 18:50:58 GMT
      Etag:
      - '"f8b61ddfd3d9a26757f4e933c3ae43fb"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":8524,"CSS":8442}'
  recorded_at: Thu, 03 Jul 2014 20:10:09 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/migrations-challenge/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Thu, 12 Jun 2014 01:38:14 GMT
      Etag:
      - '"579f8d2b926c1a7703d538bb8871d29c"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":6730,"CSS":0}'
  recorded_at: Thu, 03 Jul 2014 20:10:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/mmsn/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Sat, 05 Apr 2014 20:11:29 GMT
      Etag:
      - '"17ab43e4d9d8bd4220a0988e8f2ac3aa"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":1731,"CSS":15001,"JavaScript":640}'
  recorded_at: Thu, 03 Jul 2014 20:10:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/mmtest/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Thu, 20 Feb 2014 21:37:05 GMT
      Etag:
      - '"4cbcb0561a8799ecccc008b555982f16"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"Ruby":1759,"CSS":15536,"JavaScript":640}'
  recorded_at: Thu, 03 Jul 2014 20:10:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/johnkeith/movie_index/languages?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 312d4d07769cd79c54fed381da67ac42c39495ab
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1404420694'
      Last-Modified:
      - Fri, 23 May 2014 18:42:47 GMT
      Etag:
      - '"0ce42e0e31a5bdd024930f55029a906f"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
[...]
