@import "bootstrap/variables";
@mixin box-shadow-basic(){
  -webkit-box-shadow: 0px 4px 0px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 4px 0px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 4px 0px 0px rgba(50, 50, 50, 0.25);
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

body {
  @include transition(all, 0.5s, ease);
  font-family: "Open Sans", sans-serif;
}
a:hover {
  text-decoration: none;
}
#hidden-wrapper {
  display:none;
}
.card-header {
  @include box-shadow-basic;
  background: $brand-info;
  color:#fff;
  display:table;
  padding:15px;
  width:100%;
}
.card-header-lg {
  font-size:140%;
}

.profile-page-portrait {
  border:4px solid white;
}
.profile-stats-summary {
  padding: 0px 0px 25px 20px;
  h3 {
    border-bottom:1px solid #e3e3e3;
    padding-bottom:4px;
  }
}

.card-portrait {
  display:table-cell;
  vertical-align: middle;
}

.card-header-info {
  display:table-cell;
  padding:0 0 0 10px;
}
.profile-portrait {
  border-radius:50%;
  border:4px solid white;
  height:120px;
  width:120px;
}
.fake-portrait {
  background:$brand-primary;
  border-radius:50%;
  border:4px solid white;
  display:table-cell;
  height:120px;
  min-width:120px; 
  vertical-align: middle;
  text-align: center;

}
.card-landing-page {
}
.custom-well {
  @include box-shadow-basic;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #F2F1EF;
  // background-color: white;
  .panel-heading, .panel-footer {
    background-color: white;
    border-top:0px;
  }
}
.section-header {
  color: #e3e3e3;
}
#languages-doughnut {
  margin-left:-20px;
  margin-bottom:20px;
}
.panel-footer ul {
  margin-bottom: 0px;
}
.custom-panel {
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.05);
  border:3px solid #ddd;
}
.repo-name-link:hover {
  background-color: $brand-info;
  border-color: $brand-info;
  color: white;
  cursor: pointer;
}
.repo-name-link {
  background-color: whitesmoke;
  border-bottom: 3px solid #dddddd;
}// .panel-footer ul li {
//   border-right:2px solid black;
// }
.boxed {
  @include box-shadow-basic;
}
.btn {
  border:0px solid transparent;
}
.home-wrapper {
  margin-top:0px;
}
.nav-btn {
  position: absolute;
  left:0;
  top:0;
  padding:10px 20px 10px 20px;
  color: $brand-primary;
  z-index: 1000;
}
.nav-btn:hover {
  @include transition(all, 1s, ease);
  @include transform(rotate(180deg));
}
.nav-wrap {
  @include transition(all, 0.5s, ease);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: #F2F1EF;
  padding: 10px 0px 0px 0px;
  margin-left: -250px;
  border-right: 1px solid #e3e3e3;
  ul {
    padding-left:20px;
    list-style: none;
    li {
      border-bottom:1px solid #e3e3e3;
      padding-bottom:4px;
    }
  }
}
.body-left {
  margin-left: 250px;
  width: 100%;
  overflow: hidden;
}
.open {
  margin-left: 0px;
}
.trigger {
  cursor: pointer;
}
.icon-shadow {
  @include box-shadow-basic;
}
.menu-frame {
  position: relative;
}
@media (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}
