@import "bootstrap/variables";
@mixin box-shadow-basic(){
  -webkit-box-shadow: 0px 6px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 6px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 6px 4px 0px rgba(50, 50, 50, 0.75);
}
body {
  // font-family: "Lato", sans-serif;
}
.container-wrapper {
  max-width:1320px;
  margin:0 auto;
}
.profile-header {
  background: $brand-info;
  color:#fff;
  display:table;
  padding:15px;
  width:100%;
}
.profile-page-portrait {
  border:4px solid white;
}
.profile-stats-summary {
  padding: 0px 0px 25px 20px;
  h3 {
    border-bottom:1px solid #e3e3e3;
    padding-bottom:4px;
  }
}

.profile-portrait-wrapper {
  display:table-cell;
  vertical-align: middle;
}
.profile-header-info {
  display:table-cell;
  padding:0 0 0 10px;
}
.profile-portrait {
  border-radius:50%;
  border:4px solid white;
  height:120px;
  width:120px;
}
.custom-well {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #f7f7f9;
}
.section-header {
  color: #e3e3e3;
}
#languages-doughnut {
  margin-left:-20px;
}

