@import "bootstrap/variables";

@mixin box-shadow-basic(){
  -webkit-box-shadow: 0px 4px 0px 0px rgba(50, 50, 50, 0.25);
  -moz-box-shadow:    0px 4px 0px 0px rgba(50, 50, 50, 0.25);
  box-shadow:         0px 4px 0px 0px rgba(50, 50, 50, 0.25);
}
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
@mixin box-sizing($box-sizing) {
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}
@mixin position ($position: relative, $coords1: null, $coords2: null, $coords3: null, $coords4: null) {

  $top: $coords1;
  $right: $coords2;
  $bottom: $coords3;
  $left: $coords4;

  position: $position;

  @if ($top and $top == auto) or (type-of($top) == number) {
    top: $top;
  }

  @if ($right and $right == auto) or (type-of($right) == number) {
    right: $right;
  }

  @if ($bottom and $bottom == auto) or (type-of($bottom) == number) {
    bottom: $bottom;
  }

  @if ($left and $left == auto) or (type-of($left) == number) {
    left: $left;
  }
}

body {
  @include transition(all, 0.5s, ease);
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
}
#hidden-wrapper {
  display:none;
}
.card-header {
  @include box-shadow-basic;
  background: $brand-info;
  color:#fff;
  display:table;
  padding:15px;
  width:100%;
}
.card-header-lg {
  font-size:140%;
}

.profile-page-portrait {
  border:4px solid white;
}
.profile-stats-summary {
  padding: 0px 0px 25px 20px;
  h3 {
    border-bottom:1px solid #e3e3e3;
    padding-bottom:4px;
  }
}

.card-portrait {
  // display:table-cell;
  // vertical-align: middle;
  // text-align:center;
  margin-bottom:15px;
}

.card-header-info {
  display:table-cell;
  padding:0 0 0 10px;
}
.profile-portrait {
  border-radius:50%;
  border:4px solid white;
  height:120px;
  width:120px;
}
.social-links {
  margin-top:15px;
  a {
    color: white;
  }
  a:hover {
    color: $link-hover-color;
  }
  i {
    padding-right:10px;
  }
}
.card-landing-page {
}
.custom-well {
  @include box-shadow-basic;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: #F2F1EF;
  // background-color: white;
  .panel-heading, .panel-footer {
    background-color: white;
    border-top:0px;
  }
  p {
    margin-top:10px;
  }
}
.section-header {
  color: #e3e3e3;
}
#languages-doughnut {
  margin-left:-20px;
  margin-bottom:20px;
}
.panel-footer ul {
  margin-bottom: 0px;
}
.custom-panel {
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.05);
  border:3px solid #ddd;
  .form-inner {
    padding:25px;
  }
}
.repo-name-link:hover {
  background-color: $brand-info;
  border-color: $brand-info;
  color: white;
  cursor: pointer;
}
.repo-name-link {
  background-color: whitesmoke;
  border-bottom: 3px solid #dddddd;
}// .panel-footer ul li {
//   border-right:2px solid black;
// }
.boxed {
  @include box-shadow-basic;
}
.btn {
  border:0px solid transparent;
}

.menu-frame {
  position: fixed;
}
.nav-btn {
  position: fixed;
  left:0;
  top:0;
  padding:5px 5px 5px 5px;
  color: $brand-primary;
}
.nav-btn:hover {
  color: $link-hover-color;
}
.nav-wrap {
  @include transition(all, 0.5s, ease);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  background: #F2F1EF;
  padding: 10px 0px 0px 0px;
  margin-left: -250px;
  border-right: 1px solid #e3e3e3;
  ul {
    padding-left:20px;
    list-style: none;
    li {
      border-bottom:1px solid #e3e3e3;
      margin-bottom:20px;
      padding-bottom:4px;
    }
  }
}
.body-left {
  margin-left: 250px;
  width: 100%;
  overflow: hidden;
}
.open {
  margin-left: 0px;
}
.trigger {
  cursor: pointer;
}
.icon-shadow {
  @include box-shadow-basic;
}
.refresh-profile-btn {

}
.card-header-offset {
  margin-top:-20px;
}

.slow-tran {
  @include transition(all, 2s, ease);
}

.long-loader {
  height:100%;
  display: table;
  background: rgba(0,0,0,0.5);
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index:10000;
  .loader-spinner {
    color:white;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    z-index:10005;
  }
}
.welcome-banner {
  display:table;
}

.welcome-banner-inner {
  display: table-cell;
  vertical-align: middle;
}

[type="checkbox"] {
  width: 30px;
  height: 30px;
}

@media (min-width: 1200px) {
  .container {
  }
}
@media (min-width: $screen-sm-min) {
  .col-md-6 {
    width:48%;
    + .col-md-6 {
      margin-left:1%;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .col-md-6 {
    width:48%;
    + .col-md-6 {
      margin-left:1%;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .col-md-6 {
    width:48%;
    + .col-md-6 {
      margin-left:1%;
    }
  }
}
